@model HomeViewModel


<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-middle">
            <h1>@Model.WelcomeText</h1>
            <hr style="margin:auto;width:40%">
            <a asp-controller="Product" asp-action="List">Go to Product Page</a>
        </div>

    </div>

</body>

